## Crash Data Wrangling Jupyter Notebook

**Author:** Sophie Kaye 

**Date:** 7/27/2022 

**Purpose:** This notebook combines the IMARS and CDS analysis tables, each containing a subset of the original data attributes, into a single analysis database

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
myworkingdirectory = r"C:\Users\Sophie.Kaye\Desktop\NPS Safety"
os.chdir(myworkingdirectory)

In [3]:
cds = pd.read_csv('CDS_slim_clean.csv')
cds.shape

(799118, 56)

In [4]:
imars = pd.read_csv('IMARS_slim_clean.csv')
imars.shape

(48033, 56)

In [6]:
# final database should have 56 columns and the following number of rows:
799118+48033

847151

In [5]:
analysis_database_2022 = pd.concat([cds,imars])
analysis_database_2022.shape

(847151, 56)

In [7]:
analysis_database_2022.head()

,INCID_NO,5_mph,10_mph,15_mph,20_mph,25_mph,30_mph,35_mph,40_mph,45_mph,...,Rock in Roadway,Animal in Roadway,Rockfall,LATITUDE,LONGITUDE,Park,RGN,CRASH_DATE,CRASH_TIME,CRASH_YEAR
0,ABLI070425075000,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,ABLI,SER,2007-04-25,750,2007.0
1,ABLI070804175500,1,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,ABLI,SER,2007-08-04,1755,2007.0
2,ABLI091117170900,0,0,0,0,1,0,0,0,0,...,0,0,0,NaN,NaN,ABLI,SER,2009-11-17,1709,2009.0
3,ABLI091117170900,0,0,0,0,1,0,0,0,0,...,0,0,0,NaN,NaN,ABLI,SER,2009-11-17,1709,2009.0
4,ABLI091117170900,1,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,ABLI,SER,2009-11-17,1709,2009.0

In [8]:
analysis_database_2022.columns

Index(['INCID_NO', '5_mph', '10_mph', '15_mph', '20_mph', '25_mph', '30_mph',
       '35_mph', '40_mph', '45_mph', '50_mph', '55_mph', '60_mph', '65_mph',
       '70_mph', '75_mph', 'no_posted_speed', 'Crosswalk', 'Not a Crosswalk',
       'NUM_OCC', 'No Injury', 'Possible Injury', 'Non-incapacitating Injury',
       'Incapacitating Injury', 'Fatality', 'Unknown Injury', 'Num_Injuries',
       'Num_Fatalities', 'Injury or Fatal', 'Collision w Animal',
       'Avoiding Animal', 'Falling Object', 'Pedestrian', 'Bicycle',
       'Pedacycle', 'HorseLlama', 'Cow', 'Deer', 'Elk', 'Moose', 'Buffalo',
       'Bear', 'Antelope', 'SheepGoats', 'OtherWild', 'OtherDomestic',
       'Rock in Roadway', 'Animal in Roadway', 'Rockfall', 'LATITUDE',
       'LONGITUDE', 'Park', 'RGN', 'CRASH_DATE', 'CRASH_TIME', 'CRASH_YEAR'],
      dtype='object')

In [9]:
analysis_database_2022.to_csv('analysis_database_2022.csv',index=False)