In [44]:
import pandas as pd
import numpy as np
import os

In [45]:
myworkingdirectory = r"C:\Users\Sophie.Kaye\Desktop\NPS Crash Data"
os.chdir(myworkingdirectory)

In [46]:
cds_crash = pd.read_excel('./CDS/ALL_CRASH.xlsx')
cds_crash.shape

(204687, 56)

In [47]:
cds_crash.columns

Index(['OBJECTID', 'INCID_NO', 'CASE_NUM', 'PARK_ALPHA', 'STATE_CODE',
       'CRASH_DATE', 'CRASH_TIME', 'RTE_NO', 'RTE_NAME', 'NODE_DIST_FT',
       'NODE_DIST_MI', 'NODE_DIR', 'NODE_NUM', 'LIGHT', 'WEATHER',
       'CRASH_LOCATION', 'SURF_COND', 'CRASH_CLASS', 'VEH_COLL', 'OBJ_STRUCK',
       'ROAD_CHAR', 'CON_FACT1', 'CON_FACT2', 'CON_FACT3', 'CON_FACT4',
       'CON_FACT5', 'CON_FACT6', 'HIT_RUN', 'CATEGORY', 'FATALS', 'INJURED',
       'PED_FAT', 'PED_INJ', 'BIKE_FAT', 'BIKE_INJ', 'PED', 'CRASH_YEAR',
       'COMMENTS', 'ZIPFILE', 'LOCATION', 'PHOTOS_TAKEN', 'USPP_NPS_VEH_INV',
       'PARK_PTY_DEST', 'LOCKED_UPDATE', 'LOCKED_BY_USER', 'DATA_SRC',
       'LATITUDE', 'LONGITUDE', 'MILEPOST', 'IMPORT_DATE', 'FILE_NAME',
       'SAVE_DATE', 'ROUTE_IDENT', 'RIP_CYCLE', 'MP_NODE', 'SPTL_LOC'],
      dtype='object')

In [48]:
cds_crash.loc[cds_crash['INCID_NO'].isnull()==True].shape[0]
# no crashes with missing record numbers

0

In [49]:
cds_crash.loc[cds_crash['PARK_ALPHA'].isnull()==True].shape[0]
# no crashes without park names identified

0

In [50]:
pd.options.display.max_rows = 10000000
cds_crash.PARK_ALPHA.value_counts().sort_index()
# note 778 crashes with park name "ZZZZ", which is CDS code for unknown

ABLI        7
ACAD     1419
AGFO        1
ALPO       20
AMIS       94
ANJO        4
ANTI      122
APCO        1
APIS        1
ARCH      306
ARPO        1
ASIS      155
BADL      213
BAND       70
BAWA    28179
BIBE      914
BICA       30
BICY       50
BISC        4
BISO      270
BITH       55
BLCA       42
BLRI     7853
BLUE        2
BOST       58
BOWA       12
BRCA      577
BUFF      110
CABR       16
CACH        6
CACL        1
CACO      416
CAGR        6
CAHA      370
CALO       52
CANA       44
CANY      130
CARE       34
CARL        7
CASA        1
CATO      120
CAVE      119
CAVO        7
CEBR        6
CHAT      226
CHCH      780
CHCU        4
CHIC      402
CHIR       18
CHIS        2
CHOH      420
CIRO        1
CLBA       12
CODA       41
COLM      395
COLO     1661
CONG       10
CORO       10
CRLA      504
CUGA     1019
CUIS        2
CURE       84
CUVA      247
DENA      225
DEPO        1
DETO       17
DEVA      837
DEWA     5394
DINO       53
EDIS        1
EISE       19
ELIS       37
EVER      482
FIIS       21
FLFO       11
FLNI       15
FOBU        4
FODO        3
FOLA       12
FOLS        7
FOMC        1
FONE       21
FOPO        2
FOPU        6
FORA       11
FOSU        1
FOTH        1
FOWA       37
FRHI        5
FRSP      291
GATE     1029
GERO        3
GETT     1069
GEWA        5
GLAC     1707
GLBA        2
GLCA      798
GOGA     2932
GRBA      103
GRCA     3964
GREE      168
GRPO       10
GRSA      123
GRSM     6884
GRTE     3810
GUCO       44
GUIS      219
GWMP    25981
HAFE       85
HALE       66
HAMP        1
HAVO     1138
HEHO       14
HOBE        9
HOCU        1
HOFR       17
HOFU        6
HOME        7
HOSP      279
HOVE        1
HUTR        3
INDE       60
INDU      450
JECA        1
JEFF      174
JELA       10
JODR       42
JOFI        1
JOFK      532
JOFL       15
JOTR     1031
KAHO        7
KATM        8
KEMO      292
KICA       78
KIMO       16
KNRI        2
LABE       27
LACH        9
LAKE     3086
LAMR      211
LARO       49
LAVO      151
LEWI        1
LIBI        1
LIBO        3
LOWE      101
LYJO       20
MACA     1396
MALU        1
MANA       77
MEVE     1433
MIMA       20
MOCA       34
MONO        4
MORA     1259
MORR        2
MORU      457
MUWO       17
NABR        7
NACC    14634
NACE     1214
NAMA    13548
NATC        2
NATR     7068
NAVA        3
NERI        1
OBRI        1
OCMU        9
OLYM     2233
ORCA       10
ORPI       97
OZAR      144
PAAV        1
PAIS      239
PARA        2
PECO       18
PEFO      312
PERI        1
PETE       37
PETR       26
PEVI        2
PINN       10
PIPE        1
PIRO        4
PORE      232
PRWI      225
PUHE        1
PUHO        1
REDW      105
RICH       44
ROCR     6605
ROLA        2
ROMO     3725
RUCA        1
SACN        9
SAFR        3
SAGU     1363
SAIR        1
SAJH       18
SAJU       15
SAMA        1
SAMO       10
SAPU        2
SARA       14
SCBL        7
SEKI     2351
SEQU      259
SHEN     1700
SHIL       16
SITK        1
SLBE       91
STEA       46
STLI       13
STRI        9
SUCR        6
SUIT     4736
THJE        2
THRO       32
TICA       18
TUZI        8
ULSG        1
UPDE       28
USPP       76
VAFO     4880
VAMA        1
VICK       55
VOYA       14
WACA        2
WHHO      968
WHIS       67
WHMI        3
WHSA       51
WICA      138
WICR       10
WOTR       91
WRBR       13
WRST        1
WUPA        8
YELL    10158
YOSE     7756
ZION     1478
ZZZZ      778
Name: PARK_ALPHA, dtype: int64

In [51]:
# for any of the 778 crashes with unknown park names, can park names be assigned geospatially using lat/long like in IMARS?
cds_unknown_park = cds_crash[cds_crash['PARK_ALPHA']=="ZZZZ"]
cds_unknown_park[cds_unknown_park['LATITUDE'].isnull()==False].shape[0] # nope!

0

In [52]:
cds_vehicle = pd.read_excel('./CDS/ALL_UNIT.xlsx')

(311057, 31)

In [65]:
cds_vehicle.loc[cds_vehicle['INCID_NO'].isnull()==True].shape[0]
# no vehicle reports with missing record numbers

0

In [53]:
cds_passenger = pd.read_excel('./CDS/ALL_PASSENGER.xlsx')

(114151, 10)

In [67]:
cds_passenger.loc[cds_passenger['INCID_NO'].isnull()==True].shape[0]
# no person reports with missing record numbers

0

# DATA CLEANING

## DROP DUPLICATES
**Note:** Cannot remove duplicates from vehicle and passenger tables because they are unique records for each person/car involved in crash

In [68]:
cds_crash = cds_crash.drop_duplicates(subset=['INCID_NO'])

203909

## REVERT FLIPPED LAT/LONG

In [55]:
need_revert = cds_crash['LATITUDE'].abs() > 70
cds_crash.loc[need_revert, ['LATITUDE', 'LONGITUDE']] = (cds_crash.loc[need_revert, ['LONGITUDE', 'LATITUDE']].values)

## ADJUST SIGNS TO CORRECT HEMISPHERE

In [56]:
cds_crash.loc[cds_crash.LATITUDE < 0,"LATITUDE"] = cds_crash['LATITUDE']*(-1)
cds_crash.loc[cds_crash.LONGITUDE > 0,"LONGITUDE"] = cds_crash['LONGITUDE']*(-1)

## Create new region column

In [57]:
park_info = pd.read_csv("./Reference Data/Park_Info_Table.csv")

In [58]:
park_info.columns

Index(['OBJECTID', 'UNIT_CODE', 'GIS_Notes', 'UNIT_NAME', 'DATE_EDIT', 'STATE',
       'REGION', 'GNIS_ID', 'UNIT_TYPE', 'CREATED_BY', 'METADATA', 'PARKNAME',
       'CreationDa', 'Creator', 'EditDate', 'Editor', 'Shape__Are',
       'Shape__Len', 'Unnamed: 18'],
      dtype='object')

In [59]:
park_info = park_info.rename(columns={'UNIT_CODE':'Park','REGION':'RGN'})
cds_crash = cds_crash.rename(columns={'PARK_ALPHA' : 'Park'})

In [60]:
# add RGN column from lookup table to CDS crash database, joining the two datasets based on park name
cds_crash = pd.merge(cds_crash, park_info[['RGN','Park']], how='left', on='Park')
# resulting dataframe after join should have one additional column and no additional rows
cds_crash = cds_crash.drop_duplicates(subset=['INCID_NO']) 
cds_crash.shape

(204687, 57)

In [61]:
cds_crash.loc[cds_crash['RGN'].isnull()==True].shape[0]
# all crashes were assigned a region

0

In [62]:
cds_crash.RGN.value_counts().sort_index()

AKR          237
IMR        33076
MWR         2435
NCR        97838
NER        18642
PWR        24419
SER        27262
Unknown      778
Name: RGN, dtype: int64

In [63]:
# drop rows without region
cds_crash = cds_crash[cds_crash["RGN"].str.contains("Unknown")==False]
cds_crash.RGN.value_counts().sort_index()

AKR      237
IMR    33076
MWR     2435
NCR    97838
NER    18642
PWR    24419
SER    27262
Name: RGN, dtype: int64

In [64]:
cds_crash.to_csv("CDS_CrashTable_RegionAdded_Clean.csv", index=False)