## Crash Data Wrangling Jupyter Notebook

**Author:** Sophie Son 

**Date:** 5/25/2023 

**Purpose:** This notebook combines the IMARS and CDS analysis tables, each containing a subset of the original data attributes, into a single analysis database

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
myworkingdirectory = r"C:\Users\Sophie.Kaye\Desktop\NPS Crash Data"
os.chdir(myworkingdirectory)

In [3]:
cds = pd.read_csv('CDS_slim_all_clean.csv')
cds.shape

(194715, 56)

In [4]:
imars = pd.read_csv('IMARS_slim_all_clean.csv')
imars.shape

(12790, 56)

In [5]:
# final database should have 56 columns and the following number of rows:
cds.shape[0] + imars.shape[0]

207505

In [7]:
analysis_database_2023 = pd.concat([cds,imars])
analysis_database_2023.shape

(207505, 56)

In [8]:
analysis_database_2023.head()

,INCID_NO,5_mph,10_mph,15_mph,20_mph,25_mph,30_mph,35_mph,40_mph,45_mph,...,Adverse Weather,LATITUDE,LONGITUDE,Park,RGN,YEAR,MONTH,DOW,HOUR,database
0,ABLI070425075000,0,0,0,0,0,0,0,0,0,...,0.0,NaN,NaN,ABLI,SER,2007.0,4.0,3.0,7.0,CDS
1,ABLI070804175500,1,0,0,0,0,0,0,0,0,...,0.0,NaN,NaN,ABLI,SER,2007.0,8.0,6.0,17.0,CDS
2,ABLI091117170900,0,0,0,0,1,0,0,0,0,...,0.0,NaN,NaN,ABLI,SER,2009.0,11.0,2.0,17.0,CDS
3,ABLI121009110000,0,0,0,0,1,0,0,0,0,...,0.0,NaN,NaN,ABLI,SER,2012.0,10.0,2.0,11.0,CDS
4,ABLI140610163500,0,0,0,0,0,0,0,0,0,...,0.0,38.91205,-76.93412,ABLI,SER,2014.0,6.0,2.0,16.0,CDS

In [9]:
analysis_database_2023.columns

Index(['INCID_NO', '5_mph', '10_mph', '15_mph', '20_mph', '25_mph', '30_mph',
       '35_mph', '40_mph', '45_mph', '50_mph', '55_mph', '60_mph', '65_mph',
       '70_mph', '75_mph', 'no_posted_speed', 'NUM_VEH', 'Num_Motorcycle',
       'Motorcycle_Ind', 'No Injury', 'Possible Injury',
       'Non-incapacitating Injury', 'Incapacitating Injury', 'Fatality',
       'Num_Motorist', 'Num_Non_Motorist', 'Num_Pedestrian', 'Num_Ped_Deaths',
       'Pedestrian', 'VRU', 'Crash_Severity', 'CrashSeverity_Fatal',
       'CrashSeverity_Incap', 'CrashSeverity_NonIncap',
       'CrashSeverity_Possible', 'CrashSeverity_NoInj', 'First_Harmful_Event',
       'Involving Animal', 'Daylight', 'Dawn', 'Dusk', 'Dark_Lit',
       'Dark_NotLit', 'Dark_UnknownLit', 'Poor Lighting', 'Adverse Weather',
       'LATITUDE', 'LONGITUDE', 'Park', 'RGN', 'YEAR', 'MONTH', 'DOW', 'HOUR',
       'database'],
      dtype='object')

In [10]:
analysis_database_2023.to_csv('analysis_database_2023.csv',index=False)