## Crash Data Wrangling Jupyter Notebook

**Author:** Smitha Mahesh 

**Date:** 6/27/2022 

**Purpose:** This notebook use the new CDS files as the input and make a dataframe that is joinable with other data sources

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
myworkingdirectory = r"C:\Users\smitha.mahesh\Desktop\New CDS Excel Files"
os.chdir(myworkingdirectory)

In [5]:
cds_df = pd.read_excel('./ALL_CRASH.xlsx')
cds_df_passengers = pd.read_excel('./ALL_PASSENGER.xlsx')

In [10]:
cds_df.head()

,OBJECTID,INCID_NO,CASE_NUM,PARK_ALPHA,STATE_CODE,CRASH_DATE,CRASH_TIME,RTE_NO,RTE_NAME,NODE_DIST_FT,...,LATITUDE,LONGITUDE,MILEPOST,IMPORT_DATE,FILE_NAME,SAVE_DATE,ROUTE_IDENT,RIP_CYCLE,MP_NODE,SPTL_LOC
0,2,ABLI070425075000,5540070001,ABLI,KY,2007-04-25,750,0,KNOB CREEK PARKING,0.0,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0
1,3,ABLI070804175500,5540070013,ABLI,KY,2007-08-04,1755,0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,0
2,4,ABLI091117170900,N08113,ABLI,NY,2009-11-17,1709,NaN,NEW YORK AVE,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-02-07,NaN,NaN,NaN,0
3,5,ABLI121009110000,12474,ABLI,KY,2012-10-09,1100,101,PRIVATE DRIVEWAY OFF EAST BEACH ROAD (875),NaN,...,NaN,NaN,NaN,NaN,NaN,2015-03-16,NaN,NaN,NaN,0
4,6,ABLI140610163500,14054379,ABLI,KY,2014-06-10,1635,NaN,DC 295,NaN,...,38.91205,-76.93412,0.0,NaN,NaN,2014-06-18,NaN,NaN,NaN,0

In [11]:
cds_df_passengers.head()

,OBJECTID,INCID_NO,UNIT_NO,PASS_SEQ,PASS_SEX,PASS_BELT,PASS_EJECT,PASS_SEAT,PASS_INJ,PASS_AGE
0,5,ABLI121009110000,1,1,1.0,1.0,0.0,3.0,0.0,52.0
1,193356,ABLI9100000001,1,1,1.0,1.0,0.0,3.0,0.0,64.0
2,198783,ACAD0000000014,1,1,2.0,1.0,0.0,3.0,0.0,36.0
3,199384,ACAD0000000083,1,1,2.0,1.0,0.0,3.0,0.0,46.0
4,199385,ACAD0000000083,1,2,2.0,1.0,0.0,4.0,0.0,25.0

In [14]:
cds_df.CRASH_CLASS.value_counts()

1.0     102007
2.0      47867
7.0      18945
0.0      14174
5.0       8176
88.0      5396
99.0      2858
4.0       1498
3.0       1438
98.0       822
10.0        34
6.0         32
Name: CRASH_CLASS, dtype: int64

In [15]:
cds_df['Non-Collision']= np.where(cds_df['CRASH_CLASS']==0, 1,0)
cds_df['Collision with Other Motor Vehicle']= np.where(cds_df['CRASH_CLASS']==1, 1,0)
cds_df['Collision with Fixed Object']= np.where(cds_df['CRASH_CLASS']==2, 1,0)
cds_df['Collision with Pedestrian']= np.where(cds_df['CRASH_CLASS']==3, 1,0)
cds_df['Collision with Bicycle']= np.where(cds_df['CRASH_CLASS']==4, 1,0)
cds_df['Collision with Parked Motor Vehicle']= np.where(cds_df['CRASH_CLASS']==5, 1,0)
cds_df['Collision with Railway Train']= np.where(cds_df['CRASH_CLASS']==6, 1,0)
cds_df['Collision with Animal']= np.where(cds_df['CRASH_CLASS']==7, 1,0)
cds_df['Collision with Other Object']= np.where(cds_df['CRASH_CLASS']==88, 1,0)
cds_df['Collision with Unknown']= np.where(cds_df['CRASH_CLASS']==99, 1,0)
cds_df['Other Accident Class']= np.where(cds_df['CRASH_CLASS'].isin([0,1,2,3,4,5,6,7,88,99])==False,
                                                                                        1,0)

In [16]:
cds_df_passengers['No Injury']= np.where(cds_df_passengers['PASS_INJ']==0, 1,0)
cds_df_passengers['Possible Injury']= np.where(cds_df_passengers['PASS_INJ']==1, 1,0)
cds_df_passengers['Non-incapacitating Injury']= np.where(cds_df_passengers['PASS_INJ']==2, 1,0)
cds_df_passengers['Incapacitating Injury']= np.where(cds_df_passengers['PASS_INJ']==3, 1,0)
cds_df_passengers['Fatality']= np.where(cds_df_passengers['PASS_INJ']==4, 1,0)
cds_df_passengers['Unknown Injury']= np.where(cds_df_passengers['PASS_INJ'].isin([98,99]), 1,0)
cds_df_passengers['NUM_OCC']=1

In [17]:
cds_df_passengers.shape, cds_df.shape

((114151, 17), (204687, 67))

#### Data Quality Issues
-

In [18]:
cds_df['FATALS'].sum(), cds_df_passengers['Fatality'].sum()

(1206.0, 298)

In [19]:
cds_df_passengers_slim = cds_df_passengers[['INCID_NO', 'No Injury',
       'Possible Injury', 'Non-incapacitating Injury', 'Incapacitating Injury',
       'Fatality', 'Unknown Injury', 'NUM_OCC']]

In [20]:
cds_df_passengers_agg = cds_df_passengers_slim.groupby(by=['INCID_NO']).sum()
cds_df_passengers_agg = cds_df_passengers_agg.reset_index()

In [21]:
cds_df_passengers_agg.shape, cds_df_passengers.shape, cds_df.shape

((60136, 8), (114151, 17), (204687, 67))

In [22]:
cds_df_join = cds_df.merge(cds_df_passengers_agg, on = 'INCID_NO',how='left',indicator = True)

In [23]:
cds_df_join._merge.value_counts()

left_only     144551
both           60136
right_only         0
Name: _merge, dtype: int64

In [24]:
26734/83926

0.31854252555822987

In [25]:
cds_df_join = cds_df_join.rename(columns={"CASE_NUM": "CASENUM", 
                                      "STATE_CODE": "STATE"})

In [26]:
cds_df_join['CRASH_DATE2'] = cds_df_join['CRASH_DATE']
cds_df_join['CRASH_DATE'] = pd.to_datetime( cds_df_join['CRASH_DATE'], 
                                            format = '%A, %B %d, %Y')

In [27]:
cds_df_join = cds_df_join[['INCID_NO', 'CASENUM', 'NUM_OCC', 'Non-Collision',
       'Collision with Other Motor Vehicle', 'Collision with Fixed Object',
       'Collision with Pedestrian', 'Collision with Bicycle',
       'Collision with Parked Motor Vehicle', 'Collision with Railway Train',
       'Collision with Animal', 'Collision with Other Object',
       'Collision with Unknown', 'Other Accident Class', 'No Injury',
       'Possible Injury', 'Non-incapacitating Injury', 'Incapacitating Injury',
       'Fatality', 'Unknown Injury', 'PARK_ALPHA', 'STATE', 'CRASH_DATE',
       'CRASH_TIME', 'LATITUDE', 'LONGITUDE', 'FATALS', 'INJURED']]

In [28]:
cds_df.shape, cds_df_join.shape

((204687, 67), (204687, 28))

In [29]:
cds_df_join.to_csv("crash_data_CDS_clean.csv", index=False)

In [10]:
cds_df['CON_FACT1'].value_counts()

A16    40316
U99    21055
B06    16703
A88    13487
A06    12306
A09     9620
A11     8182
A03     6476
B05     6258
A04     5589
A02     5358
A05     4118
A10     3499
A15     3200
A07     2893
E02     2204
B08     1816
E01     1810
B88     1450
A14     1413
A08     1185
E05     1123
E03     1106
C01     1075
C88     1048
A01     1019
A12      997
B07      977
B02      806
A17      693
E88      621
C02      606
E04      508
B04      397
E07      278
D03      234
C07      204
C08      198
C06      185
D05      184
A18      178
B01      137
D88      128
D04      116
B03      106
E06       86
A13       81
C04       65
D06       38
C05       34
D02       26
D07       20
D01       11
C03       10
a16        2
e88        1
Name: CON_FACT1, dtype: int64

In [11]:
cds_df['CON_FACT2'].value_counts()

U99    80563
A16    11034
B05     6221
E01     5979
E02     4357
B08     4082
A06     3092
B06     2581
A88     2355
A09     1914
A05     1582
B88     1373
B07     1350
A04     1341
E05     1199
A11     1169
E07     1167
E88     1141
C88      910
A07      887
E03      835
A10      777
A02      680
E04      678
A08      645
A03      644
C01      565
A15      562
A17      513
A14      500
C02      477
B02      450
A12      427
C08      200
A18      167
B01      140
D88      121
B04      118
C05      117
D05      107
C07       98
A01       88
C04       78
D04       74
A13       67
E06       59
C06       58
B03       57
D03       57
D06       40
D07       34
D02       18
C03        4
D01        2
Name: CON_FACT2, dtype: int64

In [14]:
cds_df['CON_FACT3'].value_counts()

U99    104746
E01      4356
A16      2693
B05      2448
B08      2264
A06      1742
E02      1544
C88       729
A88       680
A05       637
C02       471
B07       455
A09       454
E05       449
B06       441
A04       423
B88       379
A07       338
E88       336
A02       334
A08       330
E03       314
A10       306
E07       302
E04       253
A11       249
A17       228
C01       226
A03       219
B02       185
A12       179
A15       168
A14       106
C08        99
A01        69
D88        63
B04        62
C05        57
A18        57
B01        53
E06        43
C07        41
C06        36
D05        34
C04        33
B03        29
A13        28
D07        24
D03        24
D06        15
D02         9
D04         7
C03         5
D01         2
Name: CON_FACT3, dtype: int64

In [15]:
cds_df['CON_FACT4'].value_counts()

U99    114381
A16      1391
E01      1297
B05       819
A06       811
B08       710
A88       474
E02       447
A09       341
A05       302
D88       275
A11       236
A02       219
A03       219
E88       208
A04       203
A08       194
E05       184
A10       181
A07       180
B07       151
B88       124
E07       123
C88       101
A14        99
B06        97
A17        95
E03        90
C02        84
A12        83
E04        79
C01        58
B02        55
A15        31
A01        31
A18        27
B01        26
B04        26
D04        25
C08        24
C05        22
D03        18
A13        15
D05        14
B03        11
D07        11
E06        11
C06        10
D02         9
D06         9
C04         8
C07         7
D01         3
C03         1
Name: CON_FACT4, dtype: int64

In [16]:
cds_df['CON_FACT5'].value_counts()

U99    118594
E01       554
A16       418
E88       272
A06       267
E02       210
B05       197
B08       175
A05       128
A04       105
A88        99
A02        90
E05        82
E07        70
B07        67
B88        63
A03        44
A09        43
E03        42
A08        42
E04        41
A07        37
A17        36
A11        34
C88        34
A12        33
A10        27
C02        26
C01        19
A01        17
A18        15
B06        15
B02        12
D88        11
A15        11
D05         9
A13         9
A14         9
D04         7
B04         7
B01         7
C08         6
C05         5
E06         5
C04         5
D03         5
B03         4
C06         3
D06         3
C07         1
Name: CON_FACT5, dtype: int64

In [17]:
cds_df['CON_FACT6'].value_counts()

U99    120172
E01       168
A06        95
A16        91
E02        58
E88        56
A02        52
A88        44
A04        44
A05        39
B05        37
E07        29
B08        29
E05        24
A03        22
A01        20
E04        19
A08        16
B07        13
A17        12
E03        10
A11         7
A07         7
C88         6
A10         6
A12         6
A09         5
C01         5
D88         4
C02         4
B02         4
A14         4
D03         4
E06         4
B88         3
A18         3
C08         3
B06         3
C07         2
C04         2
A15         1
B01         1
D02         1
D04         1
B03         1
C05         1
Name: CON_FACT6, dtype: int64

In [18]:
cds_df_unit = pd.read_excel('./ALL_UNIT.xlsx')
cds_df_unit['VIOL_CHG1'].value_counts()

0.0     224650
88.0     26051
16.0     15809
9.0       8226
3.0       5025
2.0       4278
6.0       4259
10.0      3137
4.0       2599
11.0      2356
98.0      1638
7.0       1635
99.0      1331
5.0        977
17.0       789
8.0        753
15.0       713
1.0        655
12.0       510
14.0       423
13.0        52
18.0         4
Name: VIOL_CHG1, dtype: int64

In [20]:
cds_df_unit['VIOL_CHG2'].value_counts()

0.0     285121
88.0      8381
16.0      2974
98.0      1832
99.0      1313
6.0        850
9.0        757
4.0        695
17.0       618
2.0        580
5.0        463
10.0       423
3.0        413
8.0        281
7.0        260
11.0       225
15.0       169
1.0        153
12.0       107
14.0        73
13.0        14
18.0         3
Name: VIOL_CHG2, dtype: int64