## Crash Data Wrangling Jupyter Notebook

**Author:** Sophie Kaye 

**Date:** 7/27/2022 

**Purpose:** This notebook combines the IMARS and CDS analysis tables, each containing a subset of the original data attributes, into a single analysis database

In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
myworkingdirectory = r"C:\Users\Sophie.Kaye\Desktop\NPS Safety"
os.chdir(myworkingdirectory)

In [12]:
cds = pd.read_csv('CDS_slim_clean.csv')
cds.shape

(194307, 70)

In [13]:
imars = pd.read_csv('IMARS_slim_clean.csv')
imars.shape

(11804, 70)

In [14]:
# final database should have 56 columns and the following number of rows:
194307+11804

206111

In [15]:
analysis_database_2022 = pd.concat([cds,imars])
analysis_database_2022.shape

(206111, 70)

In [16]:
analysis_database_2022.head()

,INCID_NO,5_mph,10_mph,15_mph,20_mph,25_mph,30_mph,35_mph,40_mph,45_mph,...,Animal in Roadway,Rockfall,LATITUDE,LONGITUDE,Park,RGN,CRASH_DATE,CRASH_TIME,CRASH_YEAR,database
0,ABLI070425075000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,ABLI,SER,2007-04-25,750,2007.0,CDS
1,ABLI070804175500,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,ABLI,SER,2007-08-04,1755,2007.0,CDS
2,ABLI091117170900,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,ABLI,SER,2009-11-17,1709,2009.0,CDS
3,ABLI121009110000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,ABLI,SER,2012-10-09,1100,2012.0,CDS
4,ABLI140610163500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,38.91205,-76.93412,ABLI,SER,2014-06-10,1635,2014.0,CDS

In [17]:
analysis_database_2022.columns

Index(['INCID_NO', '5_mph', '10_mph', '15_mph', '20_mph', '25_mph', '30_mph',
       '35_mph', '40_mph', '45_mph', '50_mph', '55_mph', '60_mph', '65_mph',
       '70_mph', '75_mph', 'no_posted_speed', 'Crosswalk',
       'Outside a Crosswalk', 'NUM_OCC', 'No Injury', 'Possible Injury',
       'Non-incapacitating Injury', 'Incapacitating Injury', 'Fatality',
       'Unknown Injury', 'Motorist Distraction', 'Non-motorist Distraction',
       'Num_Fatalities', 'Num_Injuries', 'Injury or Fatal',
       'Collision w Animal', 'Collision w Fixed Object', 'Non-Collision',
       'Other Accident Class', 'Rollover', 'Collision w Other Vehicle',
       'Collision w Parked Vehicle', 'Collision w Train',
       'Collision w Other Object', 'Collision w Unknown', 'Roadway Departure',
       'Avoiding Animal', 'Falling Object', 'Pedestrian', 'Bicycle',
       'Pedacycle', 'VRU', 'HorseLlama', 'Cow', 'Deer', 'Elk', 'Moose',
       'Buffalo', 'Bear', 'Antelope', 'SheepGoats', 'OtherWild',
       'OtherDomestic', 'Rock in Roadway', 'Animal in Roadway', 'Rockfall',
       'LATITUDE', 'LONGITUDE', 'Park', 'RGN', 'CRASH_DATE', 'CRASH_TIME',
       'CRASH_YEAR', 'database'],
      dtype='object')

In [18]:
analysis_database_2022.to_csv('analysis_database_2022.csv',index=False)